<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Beteiligte Parteien &#8212; ecs-user-manual-de 0 TODO:use git id Dokumentation</title>
    
    <link rel="stylesheet" href="../../_static/better.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '0 TODO:use git id',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../_static/translations.js"></script>
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
    <link rel="author" title="Über dieses Dokument" href="../../about.html" />
    <link rel="index" title="Stichwortverzeichnis" href="../../genindex.html" />
    <link rel="search" title="Suche" href="../../search.html" />
    <link rel="top" title="ecs-user-manual-de 0 TODO:use git id Dokumentation" href="../../index.html" />
    <link rel="up" title="Reiter Generell" href="generell.html" />
    <link rel="next" title="Aufgaben" href="tasks.html" />
    <link rel="prev" title="Studienstatus" href="status.html" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  </head>
  <body role="document">  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="beteiligte-parteien">
<h1>Beteiligte Parteien<a class="headerlink" href="#beteiligte-parteien" title="Link zu dieser Überschrift">¶</a></h1>
<p>Unter <em>Beteiligte Parteien</em> sehen Sie alle Personen, die mit der Studie zu tun haben.</p>
<div class="section" id="nachricht-an-eine-n-beteiligte-n-senden">
<h2>Nachricht an eine/n Beteiligte/n senden<a class="headerlink" href="#nachricht-an-eine-n-beteiligte-n-senden" title="Link zu dieser Überschrift">¶</a></h2>
<p>Sie können einem/einer der Parteien eine E-Mail bezüglich der Studie schreiben, indem Sie den Link <em>Nachricht senden</em> nutzen. Dieser Link leitet Sie weiter auf eine <em>Neue-Nachricht</em>-Seite, wo Sie die E-Mail verfassen und senden können. Lesen Sie mehr zur <em>Neuen Nachricht</em> in der Hilfe-Seite <a class="reference internal" href="../../communication/new_thread.html"><span class="doc">Neue Nachricht</span></a>.</p>
</div>
<div class="section" id="befangene-parteien">
<h2>Befangene Parteien<a class="headerlink" href="#befangene-parteien" title="Link zu dieser Überschrift">¶</a></h2>
<p>Parteien, die aus diversen Gründen an der Beurteilung der Studie nicht mitarbeiten dürfen, können hier festgelegt werden. Klicken Sie dafür auf den <em>Bearbeiten</em>-Knopf und wählen Sie mittels Eingabe des Anfangsbuchstaben oder der Anfangssilbe des Namens die betreffende Person aus. Die Autovervollständigung bewirkt eine automatische Suche aller Personen mit den eingegebenen Anfangsbuchstaben. Wählen Sie bei Bedarf mehrere Namen nach demselben Prinzip aus. Klicken Sie auf <img alt="gruppennamenx" src="../../_images/gruppennamenx.png" /> neben dem Namen, um einen Namen zu entfernen. Die Auswahl muss am Ende gespeichert werden.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Inhalt</a></h3>
  <ul>
<li><a class="reference internal" href="#">Beteiligte Parteien</a><ul>
<li><a class="reference internal" href="#nachricht-an-eine-n-beteiligte-n-senden">Nachricht an eine/n Beteiligte/n senden</a></li>
<li><a class="reference internal" href="#befangene-parteien">Befangene Parteien</a></li>
</ul>
</li>
</ul>

  <h4>Vorheriges Thema</h4>
  <p class="topless"><a href="status.html"
                        title="vorheriges Kapitel">Studienstatus</a></p>
  <h4>Nächstes Thema</h4>
  <p class="topless"><a href="tasks.html"
                        title="nächstes Kapitel">Aufgaben</a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Schnellsuche</h3>
    <form class="search" action="../../search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Los" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>

        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <div class="related bottom">
  <nav id="rellinks">
    <ul>
        <li>
          &larr;
          <a href="status.html" title="Previous document">Studienstatus</a>
        </li>
        <li>
          <a href="tasks.html" title="Next document">Aufgaben</a>
          &rarr;
        </li>
    </ul>
  </nav>
  <nav id="breadcrumbs">
    <ul>
      <li><a href="../../index.html">Ecs BenutzerInnen Handbuch</a></li>
      <li>
        <a href="../index.html">Studien</a>
      </li>
      <li>
        <a href="index.html">Eingereichte Studie (Leseansicht)</a>
      </li>
      <li>
        <a href="generell.html">Reiter Generell</a>
      </li> 
    </ul>
  </nav>
  </div>
  <footer id="pagefooter">&copy; Copyright 2017 Medizinische Universität Wien, Medizinische Universität Innsbruck, Medizinische Universität Graz, Johannes Kepler Universität Linz, Karl Landsteiner Privatuniversität für Gesundheitswissenschaften.

  </footer>

  
  </body>
</html>