<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Reiter Beurteilungen &#8212; ecs-user-manual-de 0 TODO:use git id Dokumentation</title>
    
    <link rel="stylesheet" href="../../_static/better.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '0 TODO:use git id',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../_static/translations.js"></script>
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
    <link rel="author" title="Über dieses Dokument" href="../../about.html" />
    <link rel="index" title="Stichwortverzeichnis" href="../../genindex.html" />
    <link rel="search" title="Suche" href="../../search.html" />
    <link rel="top" title="ecs-user-manual-de 0 TODO:use git id Dokumentation" href="../../index.html" />
    <link rel="up" title="Eingereichte Studie (Leseansicht)" href="index.html" />
    <link rel="next" title="Alle Studien" href="../all.html" />
    <link rel="prev" title="Reiter Nachrichten" href="nachrichten.html" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  </head>
  <body role="document">  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="reiter-beurteilungen">
<h1>Reiter Beurteilungen<a class="headerlink" href="#reiter-beurteilungen" title="Link zu dieser Überschrift">¶</a></h1>
<p><strong>Dieser Tab wird nur bestimmten Gruppen des Systems zur Verfügung gestellt.</strong></p>
<p>Der <em>Beurteilungs</em>-Reiter hat, je nach Benutzer/innengruppe, verschiedene Funktionen. Sobald externe Gutachten zur Studie vorliegen, kann Sie der/die Einreicher in diesem Reiter einsehen. Andere Gruppen können in diesem Reiter Aufgaben zur Beurteilung der vorliegenden Studie erledigen. Für diese Gruppen gibt es Unterreiter, um eine Übersicht aller Beurteilungen dieser Studie anzuzeigen, um eine Studie einzustufen und zu beurteilen und für alle anderen Beurteilungen, wie Versicherungs-Überprüfung, Statistik-Gutachten, Patient/inneninformation, usw.</p>
<div class="section" id="ubersicht">
<h2>Übersicht<a class="headerlink" href="#ubersicht" title="Link zu dieser Überschrift">¶</a></h2>
<p>In der <em>Übersicht</em> sehen Sie einen Auszug aus den Beurteilungen der betreffenden Studie. Es handelt sich dabei um Fragen, die negativ beantwortet wurden, (z.B. - &#8220;Werden den Patienten/Probanden durch das Projekt besondere Risiken zugemutet? - &#8220;Ja&#8221;) oder ein Kommentar haben.</p>
</div>
<div class="section" id="einstufung-und-zuteilung">
<h2>Einstufung und Zuteilung<a class="headerlink" href="#einstufung-und-zuteilung" title="Link zu dieser Überschrift">¶</a></h2>
<p>In diesem Unterreiter wird eine eingereichte Studie eingestuft und kategorisiert, z.B. nach AMG, MPG, medizinischen Kategorien, welche Beurteilungen nötig sind, wer die Studie begutachten soll, usw.</p>
<div class="section" id="aufgabe-einstufung-und-zuteilung">
<h3>Aufgabe: Einstufung und Zuteilung<a class="headerlink" href="#aufgabe-einstufung-und-zuteilung" title="Link zu dieser Überschrift">¶</a></h3>
<p>Um die Aufgabe &#8220;Einstufung und Zuteilung&#8221; zu erledigen, klicken Sie in der <em>Übersicht</em> auf den betreffenden Link unter <em>Meine Aufgaben</em>. Sie gelangen dadurch auf den <em>Einstufungs und Zuteilungs</em>-Unterreiter einer Studie, wo Sie die Felder zur Beurteilung bearbeiten können. <em>Textboxlisten</em>, <em>Autogrowing Fields</em> und <em>Textbausteine</em> sollen Ihnen die Bearbeitung erleichtern. (Lesen Sie mehr zu diesen Tools auf der Hilfe-Seite <a class="reference internal" href="../../tools/tools_features.html"><span class="doc">Tools/Features</span></a>.)</p>
<p>Bitte beachten Sie, dass Sie die Beurteilung nur dann bearbeiten können, wenn Sie in der <em>Übersicht</em> auf den betreffenden Aufgaben-Link geklickt haben. <em>Einstufung und Zuteilung</em> wird Ihnen sonst nur scheibgeschützt zur Ansicht gebracht.</p>
</div>
<div class="section" id="speichern-schlieszen-oder-abgeben">
<h3>Speichern, Schließen oder Abgeben<a class="headerlink" href="#speichern-schlieszen-oder-abgeben" title="Link zu dieser Überschrift">¶</a></h3>
<p>Sie können Ihre Eingaben zwischenspeichern und zu einem anderen Zeitpunkt fortsetzen. Klicken Sie dafür auf den <em>Speichern</em>-Knopf. Wenn Sie die Aufgabe abschließen wollen, müssen Sie nicht vorher speichern. Indem Sie im Workflow auf <em>Schließen</em> klicken, wird die Beurteilung automatisch gespeichert und beendet. Über den Workflow können Sie die Aufgabe auch abgeben.</p>
</div>
<div class="section" id="einstufen-und-neu-kategorisieren">
<h3>Einstufen und neu kategorisieren<a class="headerlink" href="#einstufen-und-neu-kategorisieren" title="Link zu dieser Überschrift">¶</a></h3>
<p>Als Benutzer/in der Gruppe <em>Executive</em> haben Sie die Möglichkeit, eine Studie erneut zu kategorisieren, indem Sie auf den in dieser Ansicht sich befindlichen Knopf <em>Neu öffnen</em> klicken.</p>
</div>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Inhalt</a></h3>
  <ul>
<li><a class="reference internal" href="#">Reiter Beurteilungen</a><ul>
<li><a class="reference internal" href="#ubersicht">Übersicht</a></li>
<li><a class="reference internal" href="#einstufung-und-zuteilung">Einstufung und Zuteilung</a><ul>
<li><a class="reference internal" href="#aufgabe-einstufung-und-zuteilung">Aufgabe: Einstufung und Zuteilung</a></li>
<li><a class="reference internal" href="#speichern-schlieszen-oder-abgeben">Speichern, Schließen oder Abgeben</a></li>
<li><a class="reference internal" href="#einstufen-und-neu-kategorisieren">Einstufen und neu kategorisieren</a></li>
</ul>
</li>
</ul>
</li>
</ul>

  <h4>Vorheriges Thema</h4>
  <p class="topless"><a href="nachrichten.html"
                        title="vorheriges Kapitel">Reiter Nachrichten</a></p>
  <h4>Nächstes Thema</h4>
  <p class="topless"><a href="../all.html"
                        title="nächstes Kapitel">Alle Studien</a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Schnellsuche</h3>
    <form class="search" action="../../search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Los" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>

        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <div class="related bottom">
  <nav id="rellinks">
    <ul>
        <li>
          &larr;
          <a href="nachrichten.html" title="Previous document">Reiter Nachrichten</a>
        </li>
        <li>
          <a href="../all.html" title="Next document">Alle Studien</a>
          &rarr;
        </li>
    </ul>
  </nav>
  <nav id="breadcrumbs">
    <ul>
      <li><a href="../../index.html">Ecs BenutzerInnen Handbuch</a></li>
      <li>
        <a href="../index.html">Studien</a>
      </li>
      <li>
        <a href="index.html">Eingereichte Studie (Leseansicht)</a>
      </li> 
    </ul>
  </nav>
  </div>
  <footer id="pagefooter">&copy; Copyright 2017 Medizinische Universität Wien, Medizinische Universität Innsbruck, Medizinische Universität Graz, Johannes Kepler Universität Linz, Karl Landsteiner Privatuniversität für Gesundheitswissenschaften.

  </footer>

  
  </body>
</html>