<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Reiter Generell &#8212; ecs-user-manual-de 0 TODO:use git id Dokumentation</title>
    
    <link rel="stylesheet" href="../../_static/better.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '0 TODO:use git id',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../_static/translations.js"></script>
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
    <link rel="author" title="Über dieses Dokument" href="../../about.html" />
    <link rel="index" title="Stichwortverzeichnis" href="../../genindex.html" />
    <link rel="search" title="Suche" href="../../search.html" />
    <link rel="top" title="ecs-user-manual-de 0 TODO:use git id Dokumentation" href="../../index.html" />
    <link rel="up" title="Eingereichte Studie (Leseansicht)" href="index.html" />
    <link rel="next" title="Studienstatus" href="status.html" />
    <link rel="prev" title="Eingereichte Studie (Leseansicht)" href="index.html" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  </head>
  <body role="document">  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="reiter-generell">
<h1>Reiter Generell<a class="headerlink" href="#reiter-generell" title="Link zu dieser Überschrift">¶</a></h1>
<p>Im Reiter <em>Generell</em> finden Sie alle aktuellen Prozesse sowie beteiligten Personen der betreffenden Studie.</p>
<p>Die Unterreiter <a class="reference internal" href="status.html"><span class="doc">Studienstatus</span></a> und <a class="reference internal" href="beteiligteparteien.html"><span class="doc">Beteiligte Parteien</span></a> zeigen Ihnen den aktuellen Status der Studie sowie alle Personen, die an dieser Studie beteiligt sind.</p>
<p>Interne Gruppen des Systems können durch die Unterreiter <a class="reference internal" href="tasks.html"><span class="doc">Aufgaben</span></a> und <a class="reference internal" href="workflow.html"><span class="doc">Workflow</span></a> zusätzlich in ihren eigenen sowie in den allgemeinen Workflow einsehen.</p>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="status.html">Studienstatus</a></li>
<li class="toctree-l1"><a class="reference internal" href="beteiligteparteien.html">Beteiligte Parteien</a></li>
<li class="toctree-l1"><a class="reference internal" href="tasks.html">Aufgaben</a></li>
<li class="toctree-l1"><a class="reference internal" href="workflow.html">Workflow</a></li>
</ul>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <h4>Vorheriges Thema</h4>
  <p class="topless"><a href="index.html"
                        title="vorheriges Kapitel">Eingereichte Studie (Leseansicht)</a></p>
  <h4>Nächstes Thema</h4>
  <p class="topless"><a href="status.html"
                        title="nächstes Kapitel">Studienstatus</a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Schnellsuche</h3>
    <form class="search" action="../../search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Los" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>

        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <div class="related bottom">
  <nav id="rellinks">
    <ul>
        <li>
          &larr;
          <a href="index.html" title="Previous document">Eingereichte Studie (Leseansicht)</a>
        </li>
        <li>
          <a href="status.html" title="Next document">Studienstatus</a>
          &rarr;
        </li>
    </ul>
  </nav>
  <nav id="breadcrumbs">
    <ul>
      <li><a href="../../index.html">Ecs BenutzerInnen Handbuch</a></li>
      <li>
        <a href="../index.html">Studien</a>
      </li>
      <li>
        <a href="index.html">Eingereichte Studie (Leseansicht)</a>
      </li> 
    </ul>
  </nav>
  </div>
  <footer id="pagefooter">&copy; Copyright 2017 Medizinische Universität Wien, Medizinische Universität Innsbruck, Medizinische Universität Graz, Johannes Kepler Universität Linz, Karl Landsteiner Privatuniversität für Gesundheitswissenschaften.

  </footer>

  
  </body>
</html>