<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Reiter Meldungen &#8212; ecs-user-manual-de 0 TODO:use git id Dokumentation</title>
    
    <link rel="stylesheet" href="../../_static/better.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '0 TODO:use git id',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../_static/translations.js"></script>
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
    <link rel="author" title="Über dieses Dokument" href="../../about.html" />
    <link rel="index" title="Stichwortverzeichnis" href="../../genindex.html" />
    <link rel="search" title="Suche" href="../../search.html" />
    <link rel="top" title="ecs-user-manual-de 0 TODO:use git id Dokumentation" href="../../index.html" />
    <link rel="up" title="Eingereichte Studie (Leseansicht)" href="index.html" />
    <link rel="next" title="Reiter Nachrichten" href="nachrichten.html" />
    <link rel="prev" title="Votum" href="votum.html" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  </head>
  <body role="document">  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="reiter-meldungen">
<h1>Reiter Meldungen<a class="headerlink" href="#reiter-meldungen" title="Link zu dieser Überschrift">¶</a></h1>
<p>Nutzen Sie diesen Reiter um wichtige Meldungen betreffend der Studie (z.B. einen Nebenwirkungsbericht) an die Ethikkommission weiterzuleiten. In den Unterreitern <a class="reference internal" href="#ausstehende-meldungen">Ausstehende Meldungen</a> und <a class="reference internal" href="#beantwortete-meldungen">Beantwortete Meldungen</a> können Sie in die offenen Meldungen und die jeweiligen Meldungsantworten einsehen. Alle beteiligten einreichende Partein, wie Sponsor, Antragsteller, Einreicher und koordinierender Prüfarzt, sowie der Sicherheitsmeldungsersteller haben einen Lesezugriff auf offene und beantwortete Meldungen. Nur der Sicherheitsmeldungsersteller kann Meldungen erstellen. Im Generell-Status Reiter kann dieser geändert werden.</p>
<div class="section" id="ausstehende-meldungen">
<h2>Ausstehende Meldungen<a class="headerlink" href="#ausstehende-meldungen" title="Link zu dieser Überschrift">¶</a></h2>
<p>Sie finden hier eine chronologische Auflistung aller die Studie betreffenden Meldungen, die noch unbeantwortet sind.</p>
<div class="section" id="meldung-lesen">
<h3>Meldung lesen<a class="headerlink" href="#meldung-lesen" title="Link zu dieser Überschrift">¶</a></h3>
<p>Mit einem Klick auf den Link der Meldung können Sie sich die abgeschickte Meldung noch einmal ansehen.</p>
</div>
<div class="section" id="neue-meldung">
<h3>Neue Meldung<a class="headerlink" href="#neue-meldung" title="Link zu dieser Überschrift">¶</a></h3>
<p>Sie können eine neue Meldung sowohl im Unterreiter <em>Ausstehende Meldungen</em> (über den Knopf <em>Eine neue Meldung erstellen</em>), als auch über den Menüunterpunkt <em>Neue Meldung</em> im Menüpunkt <em>Studien Meldungen</em> verfassen. Lesen Sie mehr zur Erstellung einer neuen Meldung in der Hilfe-Seite <a class="reference internal" href="../../notification/create/index.html"><span class="doc">Neue Meldung</span></a> und allen dort aufgeführten weiterführenden Hilfe-Seiten.</p>
</div>
</div>
<div class="section" id="beantwortete-meldungen">
<h2>Beantwortete Meldungen<a class="headerlink" href="#beantwortete-meldungen" title="Link zu dieser Überschrift">¶</a></h2>
<p>Alle beantworteten Meldungen finden Sie in diesem Unterreiter chronologisch aufgelistet.
Um die Meldungsantwort zu lesen, klicken Sie auf den betreffenden Link. Siehe <a class="reference internal" href="../../notification/view.html"><span class="doc">Meldung (Leseansicht)</span></a>.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Inhalt</a></h3>
  <ul>
<li><a class="reference internal" href="#">Reiter Meldungen</a><ul>
<li><a class="reference internal" href="#ausstehende-meldungen">Ausstehende Meldungen</a><ul>
<li><a class="reference internal" href="#meldung-lesen">Meldung lesen</a></li>
<li><a class="reference internal" href="#neue-meldung">Neue Meldung</a></li>
</ul>
</li>
<li><a class="reference internal" href="#beantwortete-meldungen">Beantwortete Meldungen</a></li>
</ul>
</li>
</ul>

  <h4>Vorheriges Thema</h4>
  <p class="topless"><a href="votum.html"
                        title="vorheriges Kapitel">Votum</a></p>
  <h4>Nächstes Thema</h4>
  <p class="topless"><a href="nachrichten.html"
                        title="nächstes Kapitel">Reiter Nachrichten</a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Schnellsuche</h3>
    <form class="search" action="../../search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Los" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>

        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <div class="related bottom">
  <nav id="rellinks">
    <ul>
        <li>
          &larr;
          <a href="votum.html" title="Previous document">Votum</a>
        </li>
        <li>
          <a href="nachrichten.html" title="Next document">Reiter Nachrichten</a>
          &rarr;
        </li>
    </ul>
  </nav>
  <nav id="breadcrumbs">
    <ul>
      <li><a href="../../index.html">Ecs BenutzerInnen Handbuch</a></li>
      <li>
        <a href="../index.html">Studien</a>
      </li>
      <li>
        <a href="index.html">Eingereichte Studie (Leseansicht)</a>
      </li> 
    </ul>
  </nav>
  </div>
  <footer id="pagefooter">&copy; Copyright 2017 Medizinische Universität Wien, Medizinische Universität Innsbruck, Medizinische Universität Graz, Johannes Kepler Universität Linz, Karl Landsteiner Privatuniversität für Gesundheitswissenschaften.

  </footer>

  
  </body>
</html>