<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Reiter Nachrichten &#8212; ecs-user-manual-de 0 TODO:use git id Dokumentation</title>
    
    <link rel="stylesheet" href="../../_static/better.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '0 TODO:use git id',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../_static/translations.js"></script>
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
    <link rel="author" title="Über dieses Dokument" href="../../about.html" />
    <link rel="index" title="Stichwortverzeichnis" href="../../genindex.html" />
    <link rel="search" title="Suche" href="../../search.html" />
    <link rel="top" title="ecs-user-manual-de 0 TODO:use git id Dokumentation" href="../../index.html" />
    <link rel="up" title="Eingereichte Studie (Leseansicht)" href="index.html" />
    <link rel="next" title="Reiter Beurteilungen" href="beurteilungen.html" />
    <link rel="prev" title="Reiter Meldungen" href="meldungen.html" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  </head>
  <body role="document">  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="reiter-nachrichten">
<h1>Reiter Nachrichten<a class="headerlink" href="#reiter-nachrichten" title="Link zu dieser Überschrift">¶</a></h1>
<p>Der <em>Nachrichten</em>-Reiter zeigt ankommende und abgehende Nachrichten, die sich auf die betreffende Studie beziehen.</p>
<p>Im Unterreiter <a class="reference internal" href="#meine-nachrichten">Meine Nachrichten</a>, der allen Benutzer/innen zur Verfügung steht, wird Ihre Kommunikation bezüglich dieser Studie wiedergegeben. Sie finden im oberen Abschnitt den Nachrichtenausgang und im unteren den Nachrichteneingang. Der Unterreiter <a class="reference internal" href="#nachrichten-uberblick">Nachrichten Überblick</a>, der nur bestimmten Gruppen des Systems zur Verfügung steht, gibt eine Liste aller Nachrichten (von allen beteiligten Personen) wider, die bisher in Bezug auf diese Studie verfasst wurden.</p>
<div class="section" id="meine-nachrichten">
<h2>Meine Nachrichten<a class="headerlink" href="#meine-nachrichten" title="Link zu dieser Überschrift">¶</a></h2>
<p>Benutzen Sie diesen Unterreiter für alle Ihre Kommunikationen, die diese Studie betreffen. (Meldungen zu Studien mit gültigem Votum werden im Reiter <em>Meldungen</em> erstellt und gesendet.) Wenn Sie alle Nachrichten zu allen Ihren Studien sehen wollen, finden Sie diese in der <em>Übersicht</em> oder im Menüpunkt <em>Nachrichten</em>.</p>
<div class="section" id="posteingang">
<h3>Posteingang<a class="headerlink" href="#posteingang" title="Link zu dieser Überschrift">¶</a></h3>
<p>Sie haben einen Posteingang, in dem alle Ihre ungelesenen und gelesenen Nachrichten chronologisch aufgelistet werden. Sie können hier Ihre erhaltenen Nachrichten beantworten. Klicken Sie dafür auf den Link einer Nachricht. Sie werden auf eine neue Seite weitergeleitet, die Ihnen die empfangene Nachricht zur Ansicht bringt. In dieser Ansicht kann die Nachricht gelesen und beantwortet werden. Informationen zu dieser Ansicht finden Sie in der Hilfe-Seite <a class="reference internal" href="../../communication/read_thread.html"><span class="doc">Nachrichtenstrang lesen/beantworten</span></a>.</p>
</div>
<div class="section" id="postausgang">
<h3>Postausgang<a class="headerlink" href="#postausgang" title="Link zu dieser Überschrift">¶</a></h3>
<p>Im Postausgang werden jene Nachrichten abgelegt, auf deren Beantwortung Sie noch warten. Sobald eine Nachricht von Ihrem/ihrer Kommunikationspartner/in beantwortet wurde, finden Sie den gesamten Nachrichtenstrang in Ihrem Posteingang. (Ein Nachrichtenstrang zeigt alle Nachrichten eines Betreffs auf. Lesen Sie mehr zum Nachrichtenstrang in der Hilfe-Seite <a class="reference internal" href="../../communication/read_thread.html"><span class="doc">Nachrichtenstrang lesen/beantworten</span></a>.)</p>
</div>
<div class="section" id="neue-nachricht">
<h3>Neue Nachricht<a class="headerlink" href="#neue-nachricht" title="Link zu dieser Überschrift">¶</a></h3>
<p>Um eine neue Nachricht zu schreiben, klicken Sie auf den Knopf <em>Neue Nachricht</em>. Sie werden auf eine neue Seite weitergeleitet. Für weiterführende Informationen lesen Sie in der Hilfe-Seite <a class="reference internal" href="../../communication/new_thread.html"><span class="doc">Neue Nachricht</span></a>.</p>
</div>
<div class="section" id="person-altere-neuere-und-weitere">
<h3>Person, Ältere/Neuere und Weitere<a class="headerlink" href="#person-altere-neuere-und-weitere" title="Link zu dieser Überschrift">¶</a></h3>
<p>Die Sortierungen <em>Person</em>, <em>Ältere/Neuere</em> und <em>Weitere</em> werden in der Hilfe-Seite <a class="reference internal" href="../../tools/dashboard.html"><span class="doc">Übersichtsseite</span></a> im Kapitel <em>Box: Gesendete/Warten auf</em> beschrieben.</p>
</div>
</div>
<div class="section" id="nachrichten-uberblick">
<h2>Nachrichten Überblick<a class="headerlink" href="#nachrichten-uberblick" title="Link zu dieser Überschrift">¶</a></h2>
<p><strong>Diese Funktion wird nur bestimmten Gruppen des Systems zur Verfügung gestellt:</strong></p>
<p>Der Unterreiter <em>Nachrichten Überblick</em> bietet eine komplette, chronologische Auflistung aller Nachrichten von allen an der betreffenden Studie beteiligten Personen. Die eingeklappte Version gibt eine Vorschau der Nachricht. Durch den Klick auf einen Nachrichtenstrang Ihrer Wahl erfolgt eine Volltextanzeige.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Inhalt</a></h3>
  <ul>
<li><a class="reference internal" href="#">Reiter Nachrichten</a><ul>
<li><a class="reference internal" href="#meine-nachrichten">Meine Nachrichten</a><ul>
<li><a class="reference internal" href="#posteingang">Posteingang</a></li>
<li><a class="reference internal" href="#postausgang">Postausgang</a></li>
<li><a class="reference internal" href="#neue-nachricht">Neue Nachricht</a></li>
<li><a class="reference internal" href="#person-altere-neuere-und-weitere">Person, Ältere/Neuere und Weitere</a></li>
</ul>
</li>
<li><a class="reference internal" href="#nachrichten-uberblick">Nachrichten Überblick</a></li>
</ul>
</li>
</ul>

  <h4>Vorheriges Thema</h4>
  <p class="topless"><a href="meldungen.html"
                        title="vorheriges Kapitel">Reiter Meldungen</a></p>
  <h4>Nächstes Thema</h4>
  <p class="topless"><a href="beurteilungen.html"
                        title="nächstes Kapitel">Reiter Beurteilungen</a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Schnellsuche</h3>
    <form class="search" action="../../search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Los" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>

        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <div class="related bottom">
  <nav id="rellinks">
    <ul>
        <li>
          &larr;
          <a href="meldungen.html" title="Previous document">Reiter Meldungen</a>
        </li>
        <li>
          <a href="beurteilungen.html" title="Next document">Reiter Beurteilungen</a>
          &rarr;
        </li>
    </ul>
  </nav>
  <nav id="breadcrumbs">
    <ul>
      <li><a href="../../index.html">Ecs BenutzerInnen Handbuch</a></li>
      <li>
        <a href="../index.html">Studien</a>
      </li>
      <li>
        <a href="index.html">Eingereichte Studie (Leseansicht)</a>
      </li> 
    </ul>
  </nav>
  </div>
  <footer id="pagefooter">&copy; Copyright 2017 Medizinische Universität Wien, Medizinische Universität Innsbruck, Medizinische Universität Graz, Johannes Kepler Universität Linz, Karl Landsteiner Privatuniversität für Gesundheitswissenschaften.

  </footer>

  
  </body>
</html>