<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Studienstatus &#8212; ecs-user-manual-de 0 TODO:use git id Dokumentation</title>
    
    <link rel="stylesheet" href="../../_static/better.css" type="text/css" />
    <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../',
        VERSION:     '0 TODO:use git id',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true
      };
    </script>
    <script type="text/javascript" src="../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../_static/doctools.js"></script>
    <script type="text/javascript" src="../../_static/translations.js"></script>
    <link rel="shortcut icon" href="../../_static/favicon.ico"/>
    <link rel="author" title="Über dieses Dokument" href="../../about.html" />
    <link rel="index" title="Stichwortverzeichnis" href="../../genindex.html" />
    <link rel="search" title="Suche" href="../../search.html" />
    <link rel="top" title="ecs-user-manual-de 0 TODO:use git id Dokumentation" href="../../index.html" />
    <link rel="up" title="Reiter Generell" href="generell.html" />
    <link rel="next" title="Beteiligte Parteien" href="beteiligteparteien.html" />
    <link rel="prev" title="Reiter Generell" href="generell.html" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../_static/custom.css" type="text/css" />
  </head>
  <body role="document">  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="studienstatus">
<h1>Studienstatus<a class="headerlink" href="#studienstatus" title="Link zu dieser Überschrift">¶</a></h1>
<p>Der <em>Status</em> zeigt Ihnen den derzeitigen Bearbeitungsstand der eingereichten Studie an.</p>
<div class="section" id="versionen-der-studie">
<h2>Versionen der Studie<a class="headerlink" href="#versionen-der-studie" title="Link zu dieser Überschrift">¶</a></h2>
<p>Der/die Einreicher/in hat die Möglichkeit, mittels des <em>Bearbeiten</em>- und des <em>Amendment</em>-Knopfs, Änderungen an der Studie vorzunehmen. Die Studie kann so lange bearbeitet werden, bis sie ein entgültiges Votum hat. Danach können Sie ein/e Protokolländerung / Amendment einreichen.</p>
<p>In die unterschiedlichen Versionen, die durch die Änderungen entstehen, kann in der Tabelle <em>Formulare</em> mittels Links eingesehen werden. Die Versionen sind nach ihrer Aktualität von oben nach unten gereiht.</p>
<div class="section" id="aktuelle-anderungen">
<h3>Aktuelle Änderungen<a class="headerlink" href="#aktuelle-anderungen" title="Link zu dieser Überschrift">¶</a></h3>
<p>zeigt Ihnen die Änderungen dieser Version im Vergleich zu der Version davor an. (Wenn Sie z.B. bei Version 4 auf <em>aktuelle Änderungen</em> klicken, sehen Sie die Änderungen zwischen Version 3 und 4.)</p>
</div>
<div class="section" id="unterschiede-zur-neuesten-version">
<h3>Unterschiede zur neuesten Version<a class="headerlink" href="#unterschiede-zur-neuesten-version" title="Link zu dieser Überschrift">¶</a></h3>
<p>zeigt Ihnen den Unterschied zwischen dieser Version und der aktuellen an. (Wenn Sie z.B. bei Version 1 auf <em>Unterschiede zur neuesten Version</em> klicken, und es gibt vier Versionen, sehen Sie die Änderungen zwischen der ersten und der vierten Version.)</p>
<p>Die Links <em>aktuelle Änderungen</em> und <em>Unterschiede zur neuesten Version</em> führen auf die gleiche Seite.</p>
<div class="section" id="studienanderungen">
<h4>Studienänderungen<a class="headerlink" href="#studienanderungen" title="Link zu dieser Überschrift">¶</a></h4>
<p>Diese Seite zeigt Ihnen die Unterschiede zwischen zwei Versionen einer Studie an. Die Daten der alten Version sehen Sie in roter, die Daten der neuen Version in grüner Schrift. Wenn Sie auf <em>Alt</em> oder <em>Neu</em> klicken, sehen Sie nur die Daten der jeweiligen Version. <em>Alle</em> zeigt die Daten beider Versionen an.</p>
</div>
</div>
</div>
<div class="section" id="pdf-herunterladen">
<h2>PDF-Herunterladen<a class="headerlink" href="#pdf-herunterladen" title="Link zu dieser Überschrift">¶</a></h2>
<p>Wenn Sie die Studie als PDF herunterladen wollen, klicken Sie auf den diesbezüglichen Knopf in der Tabelle <em>Formulare</em>.</p>
</div>
<div class="section" id="neue-r-einreicher-in">
<h2>Neue/r Einreicher/in<a class="headerlink" href="#neue-r-einreicher-in" title="Link zu dieser Überschrift">¶</a></h2>
<p>Sie können im Status die Einreicherin der Studie und die Einreicherin für Sicherheitsmeldungen zu dieser Studie neu bestimmen. Sowohl die Einreicherin der Studie als auch jedes Mitglied der Executive Gruppe kann eine neue Einreicherin bzw. Susar Präsentatorin für die Studie auswählen. Klicken Sie dafür auf <em>Ändern</em>. Sie werden auf eine neue Seite geleitet. Bestimmen Sie eine neue Einreicherin/Susar Präsentatorin und klicken Sie dann auf den Knopf <em>Einreicher ändern</em> bzw. <em>Susar Präsentator ändern</em>. Sie werden zurück zum Status geleitet, wo der neue Name sichtbar ist. Die neu bestimmte Person wird durch eine automatische Systemnachricht darüber informiert.</p>
</div>
<div class="section" id="sitzungstermine">
<h2>Sitzungstermine<a class="headerlink" href="#sitzungstermine" title="Link zu dieser Überschrift">¶</a></h2>
<p>Sobald die Studie einem Sitzungstermin zugeordnet wurde, erscheint in der Tabelle <em>Sitzungen</em> ein Sitzungs-Link. Sie können auf den Sitzungs-Link klicken, um sich die Zeitplanung im Detail anzusehen. Es öffnet sich dafür der Unterreiter <em>Zeitplanung</em> des Reiters <em>Sitzung</em>. Hierfür weitere Benutzungshinweise unter <a class="reference internal" href="../../meeting/timetable_editor.html"><span class="doc">Zeitplanung</span></a>.</p>
</div>
<div class="section" id="exportieren-einer-studie">
<h2>Exportieren einer Studie<a class="headerlink" href="#exportieren-einer-studie" title="Link zu dieser Überschrift">¶</a></h2>
<p>Wenn Sie eine Studie exportieren wollen, klicken Sie auf den Knopf <em>Export</em> und speichern Sie die Datei. (Beachten Sie, dass der vorgeschlagene Speicherplatz eine Einstellung Ihres Browsers ist und sich die Datei daher, je nach Einstellung Ihres Browsers, in einem anderen Ordner befindet.) Gehen Sie dann zum Seitenmenü und klicken Sie auf den Menüunterpunkt <em>Import</em> im Menüpunkt <em>Studien</em>. Verfahren Sie dort so, wie es die Hilfe-Seite <a class="reference internal" href="../import.html"><span class="doc">Import</span></a> beschreibt. Sie können die importierte Studie bearbeiten, zwischenspeichern oder gleich einreichen. Benutzen Sie dafür den jeweiligen Knopf.</p>
</div>
<div class="section" id="sitzung-verlegen">
<h2>Sitzung verlegen<a class="headerlink" href="#sitzung-verlegen" title="Link zu dieser Überschrift">¶</a></h2>
<p><strong>Diese Funktion steht nur bestimmten Gruppen des Systems zur Verfügung.</strong></p>
<p>Executive-Mitglieder haben die Möglichkeit, mittels des Links <em>Neu planen</em> eine Sitzung auf einen anderen Termin zu verlegen. Durch einen Klick auf den Knopf gelangen Sie auf die Seite, wo die Bearbeitung vorgenommen werden kann.</p>
<p>Sie können eine Studie von einer Sitzung in eine andere verschieben. Wählen Sie dafür im ersten Auswahlfeld die aktuelle Sitzung und im zweiten Auswahlfeld die Zielsitzung aus. Die Auswahlfelder zeigen Ihnen alle zur Verfügung stehenden Termine an. Klicken Sie am Ende auf <em>Speichern und zurück zur Studie</em>, wodurch Sie auf den <em>Status</em> im Reiter <em>Generell</em> der Leseansicht der Studie kommen. In der Tabelle <em>Sitzungen</em> sehen Sie nun den neuen Sitzungstermin.</p>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
  <h3><a href="../../index.html">Inhalt</a></h3>
  <ul>
<li><a class="reference internal" href="#">Studienstatus</a><ul>
<li><a class="reference internal" href="#versionen-der-studie">Versionen der Studie</a><ul>
<li><a class="reference internal" href="#aktuelle-anderungen">Aktuelle Änderungen</a></li>
<li><a class="reference internal" href="#unterschiede-zur-neuesten-version">Unterschiede zur neuesten Version</a><ul>
<li><a class="reference internal" href="#studienanderungen">Studienänderungen</a></li>
</ul>
</li>
</ul>
</li>
<li><a class="reference internal" href="#pdf-herunterladen">PDF-Herunterladen</a></li>
<li><a class="reference internal" href="#neue-r-einreicher-in">Neue/r Einreicher/in</a></li>
<li><a class="reference internal" href="#sitzungstermine">Sitzungstermine</a></li>
<li><a class="reference internal" href="#exportieren-einer-studie">Exportieren einer Studie</a></li>
<li><a class="reference internal" href="#sitzung-verlegen">Sitzung verlegen</a></li>
</ul>
</li>
</ul>

  <h4>Vorheriges Thema</h4>
  <p class="topless"><a href="generell.html"
                        title="vorheriges Kapitel">Reiter Generell</a></p>
  <h4>Nächstes Thema</h4>
  <p class="topless"><a href="beteiligteparteien.html"
                        title="nächstes Kapitel">Beteiligte Parteien</a></p>
<div id="searchbox" style="display: none" role="search">
  <h3>Schnellsuche</h3>
    <form class="search" action="../../search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Los" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>

        </div>
      </div>
      <div class="clearer"></div>
    </div>
  <div class="related bottom">
  <nav id="rellinks">
    <ul>
        <li>
          &larr;
          <a href="generell.html" title="Previous document">Reiter Generell</a>
        </li>
        <li>
          <a href="beteiligteparteien.html" title="Next document">Beteiligte Parteien</a>
          &rarr;
        </li>
    </ul>
  </nav>
  <nav id="breadcrumbs">
    <ul>
      <li><a href="../../index.html">Ecs BenutzerInnen Handbuch</a></li>
      <li>
        <a href="../index.html">Studien</a>
      </li>
      <li>
        <a href="index.html">Eingereichte Studie (Leseansicht)</a>
      </li>
      <li>
        <a href="generell.html">Reiter Generell</a>
      </li> 
    </ul>
  </nav>
  </div>
  <footer id="pagefooter">&copy; Copyright 2017 Medizinische Universität Wien, Medizinische Universität Innsbruck, Medizinische Universität Graz, Johannes Kepler Universität Linz, Karl Landsteiner Privatuniversität für Gesundheitswissenschaften.

  </footer>

  
  </body>
</html>